body{
    background-image: linear-gradient(to left,pink ,whitesmoke);
}
header h1{
  
    font-family: fantasy;
    font-size: 3.5rem;
    padding: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}

nav ul{
        font-family:fantasy;
        display: flex;
        font-size: 0.8rem;
        list-style: none;
        border-radius: 1rem;
        justify-content: center;
    
}
nav ul li{
    list-style: none;
    padding: 1.5rem;
}

h3{
    padding: 2rem;
    align-items: center;
    font-family: fantasy;
    font-size: 3rem;
    
}
.cimg{
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}
.footer1{
    margin-top: 5rem;
    background-color: pink;
    padding-left: 1.3rem;
    height: 5rem;
    justify-content: center
    ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1.3rem;
}
.footer2{
   
    flex-direction: column;
    text-align: start;
    margin-top: 4rem;
    height: 6rem;
}
div img{
    
   
}
h4{ 
  font-family: fantasy;
  margin: 3rem;
}
.imgs{ margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgs2{
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}